button.login {
  font-size: 1.6em;
  font-weight: bold;
  background: rgb(0,66,0);
  background: linear-gradient(0deg, rgba(0,66,0,1) 0%, rgba(0,210,0,1) 100%);
  color: white;
  padding: .5em 2em .5em 2em;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #333;
  width: 100%;
  cursor: pointer;
  transition: .4s all;
}
button.login:hover {
  box-shadow: #fff 0px 0px 10px;
}
button.login:active {
  background: linear-gradient(180deg, rgba(0,66,0,1) 0%, rgba(0,210,0,1) 100%);
}

/* Panel */

button.motor {
  color: white;
  font-size: 3vw;
  width: 6vw;
  min-width: 64px;
  height: 6vw;
  min-height: 64px;
  padding: .5vw;
  background: var(--button-background);
  border-style: solid;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button.motor:hover {
  color: red;
  border-color: red;
}
button.motor:active {
  filter: invert();
}
.active {
  background: linear-gradient(0deg, rgba(0,255,0,.5) 0%, rgba(0,255,0,.2) 100%) !important;
}
